<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="encording">
	<title>ToDo一覧</title>
</head>

<body>
	<h1>ToDo一覧</h1>
	
	<p>カテゴリー名</p>
	<br>
	<table>
		<tr th:each="todo : ${todoList}">
			<td><input type="checkbox" name="checkId" value="1" th:text="${todo.getName()}"></td>
	
			
			<form th:action="@{/todo/{categoryId}/{todoId}/edit(categoryId=${todo.getCategoryId()}, todoId=${todo.getTodoId()})}">	
			<td><button>編集</button></td>
			</form>
			
			<form th:action="@{/todo/{categoryId}/{todoId}/delete(categoryId=${todo.getCategoryId()}, todoId=${todo.getTodoId()})}" method="post">
			<td><button>削除</button></td>
			</form>
		</tr>
	
	</table>
	<br>
	
		
	<form th:action="@{/todo/{categoryId}/add(categoryId=${categoryId})}" method="get">	
	<button>ToDoの追加</button>
	</form>
	<br>
	<a th:href="@{/todo/{categoryId}/complete(categoryId=${categoryId})}">完了リスト</a>
	
	<a href="/category">戻る</a>
	
	
	

</body>

</html>