<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="encording">
	<title>ToDo一覧</title>
</head>

<body>
	<h1>ToDo一覧</h1>
	
	<p>カテゴリー名</p>
	<br>
	<table>
		<tr th:each="todo : ${todoList}">
			<td><input type="checkbox" name="checkId" value="1" th:text="${todo.getName()}"></td>
	
			
			<form th:action="@{/todo/{categoryId}/{toDoId}/edit(categoryId=${todo.getCategoryId()}, toDoId=${todo.getTodoId()})}">	
			<td><button>編集</button></td>
			</form>
			
			<form action="/todo/{categoryId}/{toDoId}/delete" method="post">
			<td><button>削除</button></td>
			</form>
		</tr>
	
	</table>
	<br>
	
		
	<form th:action="@{/todo/{categoryId}/add(categoryId=${categoryId})}">	
	<button>ToDoの追加</button>
	</form>
	
	
	
	

</body>

</html>